
Een mail van <% from %> met

afzender: <% name %>
onderwerp: <% subject %>
reply-to: <% replyto %>

Staat klaar om verzonder te worden.

Authoriseer deze mailing via onderstaande url:

<% myurl %>/submitted/<% ackkey %>

De mail is gericht aan:

<% FOREACH a in addr %>
<% a %>
<% END %>
