# configuration file for development environment

layout: "main"

# the logger engine to use
# console: log messages to STDERR (your console where you started the
#          application server)
# file:    log message to a file in log/
logger: "console"
log: "info"
behind_proxy: 1

imap:
  host: imap.example.com:993
  user: bulkmail
  pass: 37331s3cr3t
  ca: ./ssl.pem

smtp:
  ssl: starttls
  host: smtp.example.com
  user: bulkmail
  pass: 37331s3cr3t
  ca: ./ssl.pem

myurl: https://bulkmail.example.com
myfrom: bulkmail@example.com
bounce: bulktest+bounce@example.com
myname: Bulk Mailer

froms:
  - info@example.com
  - noreply@example.com
  - sysadmin@example.com

authorize_by: Sysadmin <sysadmin@example.com>

allowed_domains:
  - example.com

allowed_senders:
